In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import euclidean_distances
from scipy.spatial.distance import cdist
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [2]:
bnb = pd.read_csv("../data/train.csv")
# bnb2 = pd.read_csv("../data/test.csv")

In [3]:
pd.set_option('display.max_columns', None)
bnb.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,description,first_review,host_has_profile_pic,host_identity_verified,host_response_rate,host_since,instant_bookable,last_review,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,15148661,4.499810,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,flexible,True,NYC,A great spacious apartment in an awesome and c...,2016-07-25,t,t,80%,2015-11-04,f,2017-09-10,40.757349,-73.921339,Sunny Spacious Apt in Astoria w/ back yard access,Astoria,9,96.0,https://a0.muscache.com/im/pictures/3e40924b-7...,11101,1.0,1.0
1,1227528,3.970292,Apartment,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1.0,Futon,strict,True,NYC,Newly Renovated Two Bedroom Apartment in Hamil...,2016-09-01,t,t,NaN,2014-08-26,f,2017-01-05,40.823556,-73.954573,Manhattan Sunny Private Room,Hamilton Heights,8,100.0,https://a0.muscache.com/im/pictures/2953dddd-0...,10031,1.0,1.0
2,15692740,4.787492,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",""Wheel...",4,1.0,Real Bed,moderate,True,NYC,"One bedroom, one bathroom apartment, with an o...",2016-01-05,t,t,100%,2011-01-29,f,2017-09-27,40.689306,-73.955478,Sweet Apartment on Quiet Block,Bedford-Stuyvesant,12,100.0,NaN,11205,1.0,1.0
3,19115685,4.700480,Apartment,Entire home/apt,"{Internet,""Wireless Internet"",""Air conditionin...",3,NaN,Real Bed,moderate,False,NYC,"Comfy, art- and book-filled one-bedroom apartm...",2014-01-06,t,f,NaN,2011-10-26,f,2014-01-13,40.681965,-73.965490,Husband & Wife Art-Filled Apartment,Clinton Hill,2,90.0,https://a0.muscache.com/im/pictures/81766960/b...,11238.0,1.0,1.0
4,2554110,5.192957,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",3,1.0,Real Bed,strict,True,NYC,1br/1ba. Spacious living room with plenty of s...,2016-05-20,t,f,NaN,2012-06-21,f,2016-05-20,40.742842,-73.957554,Luxurious 1 Bedroom Apt!,Long Island City,1,80.0,https://a0.muscache.com/im/pictures/0ed6ee9e-6...,11101,1.0,1.0

In [4]:
bnb.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59288 entries, 0 to 59287
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      59288 non-null  int64
 1   log_price               59288 non-null  float64
 2   property_type           59288 non-null  object
 3   room_type               59288 non-null  object
 4   amenities               59288 non-null  object
 5   accommodates            59288 non-null  int64
 6   bathrooms               59139 non-null  float64
 7   bed_type                59288 non-null  object
 8   cancellation_policy     59288 non-null  object
 9   cleaning_fee            59288 non-null  bool
 10  city                    59288 non-null  object
 11  description             59288 non-null  object
 12  first_review            46601 non-null  object
 13  host_has_profile_pic    59148 non-null  object
 14  host_identity_verified  59148 non-null  object
 15  host_response_rate      44660 non-null  object
 16  host_since              59148 non-null  object
 17  instant_bookable        59288 non-null  object
 18  last_review             46628 non-null  object
 19  latitude                59288 non-null  float64
 20  longitude               59288 non-null  float64
 21  name                    59288 non-null  object
 22  neighbourhood           53765 non-null  object
 23  number_of_reviews       59288 non-null  int64
 24  review_scores_rating    45922 non-null  float64
 25  thumbnail_url           52666 non-null  object
 26  zipcode                 58533 non-null  object
 27  bedrooms                59211 non-null  float64
 28  beds                    59188 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 138.7 MB

# Convierto todos los property_type que aparecen menos de 10 veces por "Other"

In [5]:
# prop_counts = bnb['property_type'].value_counts()
# prop_counts

In [6]:
# # Identificar tipos con recuento menor que 10
# tipos_a_cambiar = prop_counts[prop_counts < 10].index

# # Cambiar los valores en la columna property_type
# bnb['property_type'] = bnb['property_type'].map(lambda x: 'Other' if x in tipos_a_cambiar else x)

# Relleno los valores nulos en la columna bathroom con el promedio de baños para el número de huespedes

In [7]:
# Calcular el promedio de baños para cada número de acomodates
average_bathrooms = bnb.groupby('accommodates')['bathrooms'].transform('mean')

# Llenar los valores nulos en la columna 'bathrooms' con los promedios calculados
bnb['bathrooms'] = bnb['bathrooms'].fillna(average_bathrooms)
bnb['bathrooms'] = bnb['bathrooms'].round(1)

# Paso la columna cleaning_fee de tipo bool a int

In [8]:
bnb['cleaning_fee'] = bnb['cleaning_fee'].astype(int)

# Parece que no hay gran diferencia entre tener foto de perfil o estar verificado en el log_price por lo que se van a eliminar esas dos columnas

In [9]:
bnb[bnb.host_has_profile_pic == "t"].log_price.mean() , bnb[bnb.host_has_profile_pic == "f"].log_price.mean()

(4.782476060710248, 4.9516436799328964)

In [10]:
bnb[bnb.host_identity_verified == "t"].log_price.mean() , bnb[bnb.host_identity_verified == "f"].log_price.mean()

(4.79577355988958, 4.756846320603111)

In [11]:
columnas_a_eliminar = ['host_has_profile_pic', 'host_identity_verified']
bnb = bnb.drop(columnas_a_eliminar, axis=1)

# Relleno los nulos de la columna host_since por el valor de first_review cuando sea posible, y por la fecha más reciente de host_since cuando first_review sea nulo tambien

In [12]:
bnb['host_since'] = bnb['host_since'].fillna(bnb['first_review'])

In [13]:
bnb['host_since'] = bnb['host_since'].fillna("-")

In [14]:
bnb['host_since'] = bnb['host_since'].replace('-', '2017-10-04')

In [15]:
bnb = bnb.drop("first_review", axis=1)

In [16]:
bnb['host_response_rate'] = bnb['host_response_rate'].str.rstrip('%').astype('float')

# Rellenar los valores nulos con la media
media = bnb['host_response_rate'].mean()
bnb['host_response_rate'].fillna(media, inplace=True)

In [17]:
bnb['host_response_rate'] = bnb['host_response_rate'].astype(int)

# Cambio la columna instant_bookable a binario

In [18]:
bnb['instant_bookable'] = bnb['instant_bookable'].replace('f', 0)
bnb['instant_bookable'] = bnb['instant_bookable'].replace('t', 1)

# Elimino la columna last_review y las columnas latitude y longitude ya que posteriormente voy a tratar de cuantificar la ubicación del alojamiento mediante clusterización de neighbourhood

In [19]:
bnb = bnb.drop("last_review", axis=1)

In [20]:
len(bnb[bnb.neighbourhood.isna()])

5523

# Utilizo el modelo NearestNeighbors para asignar un barrio a aquellos valores nulos en función de las columnas ['latitude', 'longitude']

In [21]:
bnb_nulos = bnb[bnb['neighbourhood'].isnull()]

# Filtrar las filas sin valores nulos en 'barrio'
bnb_no_nulos = bnb.dropna(subset=['neighbourhood'])

# Definir el número de vecinos cercanos a considerar
num_neighbors = 1

# Inicializar el modelo NearestNeighbors
neighbors_model = NearestNeighbors(n_neighbors=num_neighbors)

# Ajustar el modelo a las coordenadas sin valores nulos en 'barrio'
neighbors_model.fit(bnb_no_nulos[['latitude', 'longitude']])

# Encontrar los vecinos más cercanos para las filas con valores nulos en 'barrio'
distances, indices = neighbors_model.kneighbors(bnb_nulos[['latitude', 'longitude']])

# Asociar los valores nulos en 'barrio' con los barrios correspondientes de los vecinos más cercanos
bnb.loc[bnb['neighbourhood'].isnull(), 'neighbourhood'] = bnb_no_nulos.iloc[indices[:, 0]]['neighbourhood'].values

In [22]:
bnb = bnb.drop("thumbnail_url", axis=1)
bnb = bnb.drop("zipcode", axis=1)

In [23]:
bnb['review_scores_rating'] = bnb['review_scores_rating'].fillna(bnb.review_scores_rating.mean())

# Relleno los valores nulos en la columna bathroom con el promedio de baños para el número de huespedes

In [24]:
average_bedrooms = bnb.groupby('accommodates')['bedrooms'].transform('mean')

# Llenar los valores nulos en la columna 'bathrooms' con los promedios calculados
bnb['bedrooms'] = bnb['bedrooms'].fillna(average_bedrooms)
bnb['bedrooms'] = bnb['bedrooms'].round(1)

In [25]:
bnb['bedrooms'] = bnb['bedrooms'].astype(int)

In [26]:
bnb['review_scores_rating'] = bnb['review_scores_rating'].astype(int)

In [27]:
bnb = bnb.drop("name", axis=1)
bnb = bnb.drop("description", axis=1)

In [28]:
average_bedrooms = bnb.groupby('accommodates')['beds'].transform('mean')

# Llenar los valores nulos en la columna 'bathrooms' con los promedios calculados
bnb['beds'] = bnb['beds'].fillna(average_bedrooms)
bnb['beds'] = bnb['beds'].round(1)
bnb['beds'] = bnb['beds'].astype(int)

In [29]:
bnb['beds'].value_counts()

1     36166
2     13413
3      5139
4      2451
5      1050
6       525
7       170
8       152
10       71
9        56
16       31
12       25
11       18
13        8
15        5
0         4
14        4
Name: beds, dtype: int64

# Utilizo la columna host_since para categorizar la antiguedad del host en 4 categorías

In [30]:
# Convertir la columna 'host_since' a tipo datetime
bnb['host_since'] = pd.to_datetime(bnb['host_since'])

# 1. Extracción de Año y Mes
bnb['host_year'] = bnb['host_since'].dt.year
bnb['host_month'] = bnb['host_since'].dt.month

# 2. Calcular la Antigüedad en Años
bnb['host_age_years'] = (pd.to_datetime('2017-10-04 00:00:00') - bnb['host_since']).dt.days / 365.25

# 3. Creación de Categorías por Rangos de Tiempo
bins = [0, 1, 2, 5, float('inf')]  # Ajustar los puntos de corte según el rango de fechas
labels = ['nuevo', 'poco_experimentado', 'experimentado', 'muy_experimentado']
bnb['host_experience'] = pd.cut(bnb['host_age_years'], bins=bins, labels=labels)

In [31]:
bnb.host_experience.value_counts()

experimentado         30893
poco_experimentado    11583
muy_experimentado     10839
nuevo                  5938
Name: host_experience, dtype: int64

In [32]:
columns = ['host_year', 'host_month']
bnb = bnb.drop(columns, axis=1)

In [33]:
bnb.neighbourhood.value_counts()

Williamsburg          2276
Bedford-Stuyvesant    1686
Mid-Wilshire          1416
Hollywood             1319
Bushwick              1281
                      ...
Clifton                  1
Presidio                 1
Coolidge Corner          1
Watertown                1
Castleton Corners        1
Name: neighbourhood, Length: 611, dtype: int64

In [34]:
# Supongamos que 'log_price', 'property_type', y 'neighbourhood' son columnas relevantes en tu DataFrame
X = bnb[['log_price', 'property_type', 'neighbourhood']]

# Normaliza los datos
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X[['log_price']])

# Añade las columnas categóricas a los datos normalizados
X_scaled = np.concatenate([X_scaled, OrdinalEncoder().fit_transform(X[['property_type', 'neighbourhood']])], axis=1)

# Aplica el algoritmo de k-means
kmeans = KMeans(n_clusters=8, random_state=42)
bnb['Combined_cluster'] = kmeans.fit_predict(X_scaled)

# Obtén los centros de los clusters
cluster_centers = kmeans.cluster_centers_

# Asigna etiquetas numéricas de menor a mayor log_price
cluster_mapping = {cluster: i + 1 for i, cluster in enumerate(cluster_centers[:, 0].argsort())}
bnb['Combined_cluster'] = bnb['Combined_cluster'].map(cluster_mapping)

NameError: name 'OrdinalEncoder' is not defined

In [ ]:
# Gráfico de dispersión
plt.scatter(bnb['neighbourhood'], bnb['log_price'], c=bnb['Combined_cluster'], cmap='viridis')

# Configuración de ejes y etiquetas
plt.title('Clusters de Barrios basados en Log_Price, Property_Type y Neighbourhood')
plt.xlabel('Barrio')
plt.ylabel('Log_Price')
plt.colorbar(label='Cluster')  # Agregamos la barra de color para indicar los clusters

# Configuración del límite inferior del eje y
plt.ylim(bottom=0)

# Mostrar el gráfico
plt.show();

In [ ]:
bnb = bnb.drop("latitude", axis=1)
bnb = bnb.drop("longitude", axis=1)

In [ ]:
bnb.head()

In [ ]:
bnb['host_experience'] = bnb['host_experience'].fillna("nuevo")

In [ ]:
columns = ["host_age_years","host_since"]
bnb = bnb.drop(columns, axis=1)

In [ ]:
# bnb.to_csv("../data/train_clean.csv")

In [ ]:
bnb.host_experience.value_counts()